.upcoming-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  .bookings-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  .bookings-table th, .bookings-table td {
    padding: 12px 15px;
    border-bottom: 1px solid #ddd;
  }
  
  .bookings-table th {
    background-color: rgb(226,14,59);
    color: white;
    font-weight: bold;
  }
  
  .bookings-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .bookings-table tr:hover {
    background-color: #e0e0e0;
  }
  
  .bookings-table td {
    color: #555;
  }
  
  .bookings-table td[colspan="8"] {
    text-align: center;
    color: #999;
    font-style: italic;
  }
  
  .bookings-table .court-image {
    object-fit: cover;
    border-radius: 5px;
    margin-top: 25px;
  }
  
  .bookings-table .image-cell {
    padding: 0;
  }
  
  .bookings-table .small-column {
    width: 80px;
    text-align: center;
  }
  
  .bookings-table .book-cancel{
    cursor: pointer;
  }