.news-page {
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fc;
}


.news-page h1 {
    text-align: center;
    margin-bottom: 40px;
    color: #333;
    font-size: 2rem;
    font-weight: bold;
}


.news-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}


.news-item {
    width: 300px;
    border: 1px solid #e3e3e3;
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    background-color: white;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}


.news-item img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}


.news-content {
    margin-top: 15px;
}


.news-content h3 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 12px;
    color: #333;
}

.news-content p {
    font-size: 14px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 20px;
}

.news-content a {
    font-size: 14px;
    color: rgb(226,14,59);
    text-decoration: none;
    font-weight: bold;
}

.news-content a:hover {
    text-decoration: underline;
}