.navbar{
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    box-shadow: 0px 3px 2px 1px rgb(227, 14, 14);
    background-color: rgba(255,255,255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.navbar-menu{
    display:flex;
    gap:30px;
    list-style:none;
    font-size:20px;
    cursor:pointer;
    color:rgb(90, 92, 92);
}

.navbar-menu li{
    cursor: pointer;
}

.navbar-right{
    display: flex;
    align-items: center;
    gap: 20px;
}

.login_button {
    border:1px solid rgb(227, 14, 14);
    border-radius:20px;
    padding:5px 15px 0px;
    cursor:pointer;
    background-color: rgb(255,255,255);
    color:rgb(90, 92, 92);
    transition: 0.3s;
}

.login_button:hover{
    background-color: rgba(188, 37, 14, 0.762);
}

.navbar-right .login_button .login_text{
    font-size: 17px;
    vertical-align: 10px;
}

.logo{
    width: 13%;
}

.navbar .active{
    padding-bottom: 2px;
    border-bottom: 2px solid rgb(226,14,59);
}

@media (min-width: 2000px){
    .navbar-menu{
        gap: 40px;
        font-size: 35px;
    }
    .navbar-right{
        gap: 30px;
        margin-right: 10px;
    }
    .navbar-right img{
        width: 35px;
    }
    .navbar-right button{
        padding: 8px 32px;
    }
}


@media (max-width: 1050px){
    .navbar .logo{
        width: 140px;
    }
    .navbar-menu{
        gap: 20px;
        font-size: 17px;
    }
    .navbar-right{
        gap: 30px;
    }
    .navbar-right img{
        width: 22px;
    }
    .navbar-right button{
        padding: 8px 25px;
    }
}

@media (max-width: 900px){
    .navbar .logo{
        width: 120px;
    }
    .navbar-menu{
        gap: 15px;
        font-size: 16px;
    }
    .navbar-right{
        gap: 20px;
    }
    .navbar-right img{
        width: 20px;
    }
    .navbar-right button{
        padding: 7px 20px;
        font-size: 15px;
    }
}

@media (max-width: 750px){
    .navbar-menu{
        display: none;
    }
}