.header{
    margin: 30px 30px;
    height: 30vw;
    display: flex;
    gap: 0;
}

.header-contents-left{
    background: url('/football1.jpg') no-repeat;
    background-size: cover;
    position: relative;
    flex: 1;
}

.header-contents-right{
    background: url('/football_court1.jpg') no-repeat;
    background-size: cover;
    position: relative;
    flex: 1;
}

.header-contents-left h1,h2,p{
    color: white;
    position: absolute;
    left: 3vw;
    animation: fadeIn 3s;
}

.header-contents-left h1{
    bottom: 28%;
}

.header-contents-left h2{
    bottom: 20%;
}

.header-contents-left p{
    bottom: 10%;
}