.header-card{
  padding: 10px;
  width: 100%;
  background-color: white; 
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); 
  margin: 80px auto; 
  overflow: hidden; 
}

.header {
    margin: 30px 30px 30px;
    height: 30vw; 
    display: flex;
    gap: 0;
  }
  
  .header-contents-left,
  .header-contents-right {
    background-size: cover; 
    background-position: center;
    background-repeat: no-repeat; 
    width: 100%; 
    height: 100%; 
    flex: 1;
    transition: background-image 0.2s ease-in-out; 
    position: relative;
  }
  
  .header-contents-left h1,h3,p{
    color: white;
    position: absolute;
    left: 3vw;
    animation: fadeIn 1.5s;
    font-weight: 350;
  }
  
  .header-contents-left h1 {
    bottom: 28%;
    font-weight: 500;
  }
  
  .header-contents-left h3 {
    bottom: 20%;
    font-weight: 500;
  }
  
  .header-contents-left p {
    bottom: 7%;
    font-size: 90%;
  }