.admin-popup {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000075;
    display: grid;
}

.admin-popup-container {
    place-self: center;
    width: max(23vw, 330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
    animation: fadeIn 0.5s;
}

.admin-popup-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.admin-popup-logo img {
    width: 16px;
    cursor: pointer;
}

.admin-popup-logo img#admin-logo {
    width: 200px;
    cursor: pointer;
}

.admin-popup-title {
    display: flex;
    color: black;
    justify-content: center;
    align-items: center;
}

.admin-popup-message {
    text-align: center;
}

.admin-popup-actions {
    display: flex;
    justify-content: space-around;
}

.admin-popup-container button {
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: rgb(226, 14, 59);
    font-size: 15px;
    cursor: pointer;
}

.admin-popup-container button:hover {
    background-color: rgba(226, 14, 59, 0.90);
}
